<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Prallel" parallel="classes" thread-count="2" >
        <classes>
            <class name="class02.SoftAssertions"></class>
            <class name="class02.HardAssertions"></class>
        </classes>
    </test>
</suite>
